<article class="post">
  <div class="title" id="title">
    <a href="/post/{{{id}}}" target="_blank">{{title}}</a>
  </div>
  <div class="meta" id="content">
    By
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
  <div>
    <p class="p">{{{post_text}}}</p>
  </div>
</article>